@import "src/assets/scss/customTheme.scss";

.text-danger {
  color: $red;
}

.button-bigger {
  margin: 0px;
}

.button-accent {
  border: none;
  align-items: center;

  app-icon {
    padding-right: 5px;
  }
}

input[type="file"] {
  display: none;
}
