@import "src/assets/scss/variables.scss";

@import "~@angular/material/theming";
@include mat-core();

$primary: mat-palette($my-mat-gray, 200);
$accent: mat-palette($my-mat-pale-white, 200);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

mat-option {
  @include transition();
}

.button-bigger {
  font-size: 20px;
  margin: 50px 0;
  padding: 10px 20px;
}

.button-accent {
  font-weight: 700;
  color: $contrast-primary-color;
  background-color: $primary-color;
  border: 1px solid $contrast-primary-color;
  transition: 0.3s ease;

  &:hover {
    color: $primary-color;
    background-color: $contrast-primary-color;
    border-color: $primary-color;
  }
}

.text-bold {
  font-weight: 700;
}
