<mat-sidenav-container class="page-container" autosize>
    <mat-sidenav mode="side" opened [disableClose]="true">
        <app-filters-container [disabled]="!isUploaded" (onFilterSelect)="selectFilter($event)"></app-filters-container>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="editor-container">
            <div class="edit-container">
                <div class="image-container">
                    <app-image-container [isUploaded]="isUploaded" (onUploadImage)="uploadImage($event)">
                    </app-image-container>
                </div>
                <div class="options-container" *ngIf="isUploaded">
                    <app-options-container [filter]="selectedFilter" (onValueChange)="changeValue($event)">
                    </app-options-container>
                </div>
            </div>
            <div class="applied-filters-container" *ngIf="isUploaded">
                <app-applied-filters-container [filters]="filters"></app-applied-filters-container>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>