@import "src/assets/scss/customTheme.scss";

.main-conatiner {
  background-color: $primary-color;
  color: $contrast-primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.title {
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 40px;
  margin: 100px 0 20px 0;
  p {
    margin: 0;
  }
}

.logo-container {
  padding: 0 20px;
  margin: 0 0 20px 0;
  max-width: 1200px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;

  .logo {
    width: 100%;
    height: auto;
    display: block;
  }
}

.sub-title {
  font-size: 30px;
  margin: 0;
}
