@import "src/assets/scss/customTheme.scss";

.filter {
  display: flex;
  align-items: center;
  padding-left: 10px;
  height: 50px;
  font-size: 20px;
  @include transition;

  &:hover {
    cursor: pointer;
    background-color: $pale-gray;

    .delete-icon {
      color: $red;
    }
  }

  app-icon {
    @include transition;
    margin-right: 5px;
  }
}
