@import "src/assets/scss/customTheme.scss";

.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;

  .value-label {
    display: flex;
    justify-content: center;
    width: 50px;
  }

  .mat-slider-horizontal {
    width: 500px;
  }
}

::ng-deep {
  .mat-primary .mat-slider-thumb-label-text {
    color: $white !important;
  }
}
