@import "src/assets/scss/variables.scss";

.filter {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  @include transition;

  &:hover {
    cursor: pointer;
    background-color: $gray;
  }

  app-custom-icon {
    padding-right: 10px;
  }

  span {
    padding: 15px 0;
  }
}
